// Colors
$main-color: #303b44;
$main-accent-color: #4f5a6e;
$main-dark-color: #3a4357;
$button-color: #39728e;
$button-access-color: #59a969;
$main-background-color: #c8ffef49;
$main-white: #ffffff;

//Text
$font-size-main: clamp(16px, 2.5vw, 22px);

//radius
$border-radius-main: 8px;
$border-radius-small: 4px;
$border-radius-large: 16px;
