@import '../variable', '../mixins';

.add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  margin-top: 3%;
  &--inner {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    @include center;
    width: 30vw;
    padding: 25px 25px 35px 25px;
  }

  &__title {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3%;
  }

  &__inputs {
    row-gap: 5px;
    @include center;

    .inputs__item {
      width: 28vw;
      height: 35px;
      border: 1px solid $color-grey;
      border-radius: $border-radius-small;
      outline: none;
      padding-inline: 8px;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__save-btn {
      @include button(30%,40px);
      transition:0.3s;
  }
  &__save-btn:hover {
    transform: translateY(-2px);
  }
  &__save-btn:active {
    transform: translateY(-7px);
  }
  &__save-btn:disabled {
    background-color: $disabled;
    pointer-events: none;
    user-select: none;
  }
}

.inputs__more {
  @include center;

  &-fork {
    display:flex;
    width:100%;
    column-gap:10px;
  
    .inputs-fork {
      width: 13.7vw;
      height:35px;
      border: 1px solid $color-grey;
      border-radius: $border-radius-small;
      outline: none;
      padding-inline: 8px;
      font-size: 18px;
      margin-bottom: 20px;
      appearance: none;
    }

    .inputs-fork::-webkit-outer-spin-button,
    .inputs-fork::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
  }

  &-stages {
      width:100%;
    &-button {
      background-color: $button-color;
      color:$main-white;
      display:flex;
      align-items: center;
      column-gap: 5px;
      width:30%;
      justify-content: center;
      outline:none;
      border:none;
      height:40px;
      padding-inline: 10px;
      cursor:pointer;
      transition: 0.3s;
      margin-bottom: 20px;
    }
    

    &-button:hover {
      transform: translateY(-2px);
    }
    &-button:active {
      transform: translateY(-5px);

    }

    &-card {
      padding:10px;
      display:flex;
      flex-flow:column;
      width:100%;
      row-gap:5px;
      border-radius: $border-radius-main;
      box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.486);
      &-input {
        height:35px;
      border: 1px solid $color-grey;
      border-radius: $border-radius-small;
      outline: none;
      padding-inline: 8px;
      font-size: 18px;
      margin-bottom: 15px;
      }
      .stages-card__comment {
        height:100px;
        width:100%;
        resize: none;
        outline: none;
      padding-inline: 8px;
      font-size: 18px;
      margin-bottom: 10px;
      padding-top:5px;
      }

      .stages-card__delete-button {
        background-color: $color-danger;
        color:$main-white;
        display:flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        outline:none;
        border:none;
        height:40px;
        width:30%;
        padding-inline: 10px;
        cursor:pointer;
        transition: 0.3s;
        margin-bottom: 10px;
        border-radius: $border-radius-small;
      }
  
      .stages-card__delete-button:hover {
        transform: translateY(-2px);
      }
      .stages-card__delete-button:active {
        transform: translateY(-5px);
      }
    }
    .label {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size:18px;
    }
  }
  &-stages-result {
    display:flex;
    margin-top: 20px;
    column-gap: 20px;
    margin-bottom:20px;
    &--offer,&--reject {
      display:flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
      font-size:20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #reject,#offer {
      transform: scale(1.2);

    }
  }
}

