.header {
  background-color: $main-color;
  padding: 15px 0;
}
.navigation {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 1.5em;
    margin-top: 0.3em;

    &-item {
      font-size: $font-size-main;
      color: $main-white;
      transition: 0.3s;
      border-radius: $border-radius-main;
      padding: 5px;
      display: flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
    }

    &-item:hover {
      box-shadow: 0 0 0.06em 0.1em;
      transform: translateY(-2px);
    }

    &-item:active {
      transform: scale(1.1);
    }
  }
}
