@import '../variable', '../mixins';

.list {
  @include center;
  margin-top: 3%;

  &__title {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1%;
  }
}

.table {
  width: 55vw;
  border-collapse: collapse;
  table-layout: fixed;

  &__thead {
    background-color: $main-background-color;
    height: 50px;
  }

  &__title--edit {
    width: 7%;
  }

  &__row {
    border-bottom: 2px solid $main-background-color;
  }

  .table__title {
    padding: 8px;
    text-align: start;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &--edit {
      width: 10%;
    }
  }
  .table__item {
    height: 50px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &--link {
      padding-right: 65px;
    }

    &--contacts {
      display: flex;
      column-gap: 15px;
    }

    .hover-f {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 3px;
    }
    .hover-f:hover {
      background-color: $main-background-color;
      transition: 0.3s;
      cursor: pointer;
    }
    .hover-f:active {
      transform: translateY(-5px);
    }

    &--edit {
      color: $disabled;
      margin-top: 5px;
      margin-left: 5px;
    }

    &--delete {
      color: $color-danger-opacity;
      margin-top: 5px;
      margin-left: 5px;
    }
    .hover-f:hover .table__item--delete {
      color: $color-danger;
      transition: 0.3s;
    }

    .hover-f:hover .table__item--edit {
      color: $button-color;
      transition: 0.3s;
    }
  }

  &__empty-status {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    text-wrap:nowrap;
    column-gap:5px;
    font-size:22px;
    position:relative;
    width:55vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &--link {
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius:$border-radius-small;
      outline: none;
      border:none;
      margin-left:20px;
      width:7em;
      height:40px;
      background-color: $button-access-color;
      color:$main-white;
    }
    &--link:hover {
      transition: 0.3s;
      transform:translateY(-2px);
      cursor: pointer;
    }
    &--link:active {
      transform: translateY(-5px);
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
} 